<h1>Login</h1>
<form>
  Email:<br>
  <input type="text" name="email" placeholder = "Email Address"><br><br>
  Password:<br>
  <input type="text" name="password" placeholder="Your Password"><br><br>
  <input type="submit" value="Login"><br><br>
  New user ? <%= link_to "Sign up now!", login_path %>
</form>